/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/forgot-password/page.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.page_containerCenter__SqUN3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.page_containerCenter__SqUN3 * {
  font-family: "Inter", sans-serif;
}

.page_equerda__feZx8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}
.page_equerda__feZx8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1300px) {
  .page_equerda__feZx8 {
    display: none;
  }
}

.page_direita__K5O3w {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1rem;
  width: 50%;
  height: 100%;
}

.page_title__54xUQ {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  margin-bottom: 10px;
}
.page_title__54xUQ span {
  color: var(--main);
}

.page_subtitle__SiWc_ {
  color: #5a5a5a;
  font-size: 1rem;
  margin-bottom: 30px;
}

.page_login__nKZVW {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #cfcfcf;
  width: 100%;
  max-width: 500px;
}
.page_login__nKZVW h1 {
  color: var(--primary);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.page_login__nKZVW form {
  width: 100%;
}

.page_inputGroup__zHhQP {
  margin-bottom: 1.5rem;
}

.page_labelRow__YKYwY {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.page_forgotPassword__IEqmb {
  color: rgb(37, 99, 235);
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 500;
}
.page_forgotPassword__IEqmb:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

.page_input__lbsWy {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.2s;
  border: 1px solid #cfcfcf;
  margin-top: 5px;
}
.page_input__lbsWy:focus {
  border-color: var(--primary);
  outline: none;
}
.page_input__lbsWy::placeholder {
  color: #919191;
  font-weight: 500;
}

.page_label__FGeB9 {
  display: block;
  color: var(--gray-700);
  font-size: 0.95rem;
  font-weight: 500;
  height: -moz-fit-content;
  height: fit-content;
}

.page_loginButton__Q9xqW {
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.8rem;
  border: 0;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.page_loginButton__Q9xqW:hover {
  filter: brightness(1.08);
  transform: translateY(-2px);
}
.page_loginButton__Q9xqW:disabled {
  cursor: not-allowed;
  background-color: #919191;
}

.page_registerLink___3ZJ6 {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--gray-700);
  font-size: 0.95rem;
}
.page_registerLink___3ZJ6 a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  margin-left: 0.3rem;
  transition: all 0.2s;
  color: rgb(37, 99, 235);
}
.page_registerLink___3ZJ6 a:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

.page_error__Hjmpp {
  color: var(--red);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  border-left: 3px solid var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_error__Hjmpp::before {
  content: "⚠️";
  margin-right: 8px;
  font-size: 1rem;
}

.page_formTitle__b8d76 {
  color: var(--primary);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.page_success__YKMO0 {
  color: var(--green);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  border-left: 3px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_success__YKMO0::before {
  content: "✅";
  margin-right: 8px;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .page_containerCenter__SqUN3 .page_direita__K5O3w {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .page_login__nKZVW {
    width: 90%;
    padding: 40px 40px;
  }
  .page_logo__MNc78 {
    min-width: 0px;
    width: 30%;
  }
}
/* Estilos específicos para a página de recuperação de senha */
.page_recoveryMessage__nfg5D {
  margin-top: 1rem;
  background-color: #e0f7ff;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 0.875rem;
  text-align: center;
}
