@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
    --main: #0F62FE;
    --main2: #0045C7;
    --branco: #F9FAFB;
    --cinza: #B3B3B3;
    --cinza2: #dadada;
    --preto: #1E1E1E;
    --subtitulo: #1e1e1ea4;

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

body {
    background-color: var(--branco);
}

body,
input,
textarea,
select,
button {
    font-family: "Geist", sans-serif;
    font: 400 1rem sans-serif;
}