/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.page_containerCenter__zsRKL {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1rem;
}

.page_title__m5nyP {
  color: #000000;
  font-size: 2.5rem;
  font-weight: 700;
}

.page_subtitle__X4z2_ {
  color: #5a5a5a;
  font-size: 1rem;
  margin-bottom: 30px;
}

.page_login__YmZVk {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #cfcfcf;
  width: 100%;
  max-width: 500px;
}
.page_login__YmZVk h1 {
  color: var(--primary);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.page_login__YmZVk form {
  width: 100%;
}

.page_inputGroup__9oWjj {
  margin-bottom: 1.5rem;
}

.page_labelRow__4fS9b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.page_forgotPassword__etpdw {
  color: rgb(37, 99, 235);
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 500;
}
.page_forgotPassword__etpdw:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

.page_input__ogsrx {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.2s;
  border: 1px solid #cfcfcf;
  margin-top: 5px;
}
.page_input__ogsrx:focus {
  border-color: var(--primary);
  outline: none;
}
.page_input__ogsrx::placeholder {
  color: #919191;
  font-weight: 500;
}

.page_label__mJHLU {
  display: block;
  color: var(--gray-700);
  font-size: 0.95rem;
  font-weight: 500;
  height: -moz-fit-content;
  height: fit-content;
}

.page_loginButton__mWzSZ {
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.8rem;
  border: 0;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.page_loginButton__mWzSZ:hover {
  filter: brightness(1.08);
  transform: translateY(-2px);
}
.page_loginButton__mWzSZ:disabled {
  cursor: not-allowed;
  background-color: #919191;
}

.page_registerLink__f3q_n {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--gray-700);
  font-size: 0.95rem;
}
.page_registerLink__f3q_n a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  margin-left: 0.3rem;
  transition: all 0.2s;
  color: rgb(37, 99, 235);
}
.page_registerLink__f3q_n a:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

.page_error__err8O {
  color: var(--red);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  border-left: 3px solid var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_error__err8O::before {
  content: "⚠️";
  margin-right: 8px;
  font-size: 1rem;
}

.page_formTitle__K2QAV {
  color: var(--primary);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.page_success__v93hJ {
  color: var(--green);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  border-left: 3px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_success__v93hJ::before {
  content: "✅";
  margin-right: 8px;
  font-size: 1rem;
}

@media (max-width: 620px) {
  .page_login__YmZVk {
    width: 90%;
    padding: 40px 40px;
  }
  .page_logo__1r_52 {
    min-width: 0px;
    width: 30%;
  }
}
